[Unit]
Description=vinigit

[Service]
User=root
ExecStart=python /app/path/manage.py runserver 8002
Restart=always

[Install]
WantedBy=multi-user.target
