{% extends 'base.html' %}
{% load static %}
{% block content %}

  <style>
    .conteudo {
      display:flex; /*<--*/
    }

    .div{
      width: 50%;
      background-color: #FF4500; 
      height: 41px; 
      width: 50%; 
      border-top: 0px;
    }
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }
    .ipsulum{
      width: 50%;
    }

    .label{
      padding: 10px;
      font-size: 18px;
      color: #111;
    }

    .copy-text{
      position: relative;
      padding: 10px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      display: flex;
    }

    .copy-text input.text{
      padding: 10px;
      font-size: 18px;
      color: #555;
      border: none;
      outline: none;
    }

    .copy-text button{
      padding: 10px;
      background: #FF4500;
      color: #fff;
      font-size: 18px;
      border: none;
      outline: none;
      border-radius: 10px;
      cursor: pointer;
    }

    .copy-text button:active{
      background-color: #FF4500;
    }

    .copy-text button:before{
      content: "Copiado";
      position: absolute;
      top: -50px;
      right: 0px;
      background: #FF4500;
      padding: 8px 10px;
      border-radius: 20px;
      font-size: 15px;
      display: none;
    }

    .copy-text button:after{
      content: "";
      position: absolute;
      top: -20px;
      right: 25px;
      width: 10px;
      height: 10px;
      background: #FF4500;
      transform: rotate(45deg);
      display: none;
    }

    .copy-text.active button:before,
    .copy-text.active button::after{
      display: block;
    }
  </style>

  <body class="bg-light">
    <div class="conteudo">
    <div class="div">
      <div style="margin-left: -570px">
        <a href="/"><img class="d-block mx-auto mb-4" src="{% static 'img/git.png' %}" alt="" width="38" height="38"></a>
      </div>
    </div>
    
    <div class="div">
      <div style="margin-left: 570px">
        <a href="/git/logout"><img class="d-block mx-auto mb-4" src="{% static 'img/user.png' %}" alt="" width="60" height="40"></a>
      </div>
    </div>  
    </div>
    </div>
    <div class="container">  
      <div class="py-2 text-center">
        
      </div>
    </div>
       
        <form method="POST" action="/pull-request/{{repository}}/">
            {% csrf_token %}
            <center>
                {{form}}

                
                <center>
                  <div>
                    <span >From:</span>

                    <select name="from_branches">
                      {% for branch in branches %}   
                        <option value="{{branch}}">{{branch}}</option>
                      {% endfor %}
                    </select>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                    <span>To:</span>
                    <select name="to_branches">
                      {% for branch in branches %}   
                        <option value="{{branch}}">{{branch}}</option>
                      {% endfor %}
                    </select>
                  </br></br>
                  </div>
              </center> 

              {% if branches|length == 0 %}
                <input disabled class="form-control btn rounded submit px-3" style="background-color:#FF4500;font-family: Arial, Helvetica, sans-serif; font-size:smaller; color:white; font-size: 19px; width: 500px; height: 50px" value="Pull Request" type="submit">
              {% else %}
                <input class="form-control btn rounded submit px-3" style="background-color:#FF4500;font-family: Arial, Helvetica, sans-serif; font-size:smaller; color:white; font-size: 19px; width: 500px; height: 50px" value="Pull Request" type="submit">
              {% endif %}

            </center>
        </form>
          <br/><br/>
          <div>
            <center>
              {% if merged_branch is not None and merged_branch %}         
                <form method="POST" action="/pull-request/{{repository}}/{{id_pullrequest}}/{{to_branch}}/merge/">
                  {% csrf_token %}

                  <div style="background-color: green; border-radius: 50%; width: 60px; height: 60px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" color="white" class="bi bi-check-lg" viewBox="0 0 16 16">
                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                  </div>
                  </br>
                  <h4 style="color: green;">Merge pode ser realizado automaticamente!</h4>
                  <input class="form-control btn rounded submit px-3" style="background-color:green;font-family: Arial, Helvetica, sans-serif; font-size:smaller; color:white; font-size: 19px; width: 500px; height: 50px" value="Merge" type="submit">
                </form>

              {% elif merged_branch is not None %}
                  <div style="background-color: red; border-radius: 50%; width: 60px; height: 60px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" color="white" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                  </div>
                  <h4 style="color: red;">Existem conflitos que devem ser corrigidos manualmente!</h4>
              {% endif %}
            </center>
          </div>

          <div><br/>
            {% for message in messages %}                                    
              <p style="background-color:#ffc6ad; font-family: Arial, Helvetica, sans-serif; font-size:smaller; color:#FF4500; text-align: center; border-radius: 10px; margin-left: 450px; margin-right: 450px;"><strong>{{message}}</strong></p>                                       
            {% endfor %}
          </div>
          
          
          
          <div class="row" style="margin-left: auto; margin-top: 40px">

            {% for pull_request in pull_requests %}

                <div onclick="/repo/{{pull_request}}" class="card d-inline" style="width:300px; height: 200px; margin: 10px;">

                  {% if pull_request.is_merged %}
                    <svg xmlns="http://www.w3.org/2000/svg" color="#ff4500" width="25" height="25" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
                      <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.03 1.03 0 0 0 0-1.457"/>
                    </svg>
                  {% endif %}
                  <div class="card-body" style="margin-top: 10px">
                    
                    <center>
                    <h3 class="card-text" style="color: gray; padding: 10px; font-size: 20px;">{{pull_request.title}}</h3>
                      <button id="{{pull_request.id}}" type="button" class="btn btn-danger">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                          </svg>
                      </button>
                      </center>    
                  </div>
                </div>      
            {% endfor %}
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
      window.CSRF_TOKEN = "{{ csrf_token }}"

      $(".btn-danger:button").click(function() {
        $('#modal').modal('show')
        $('#button_modal').val(this.id)
      })

      function remove(){
        $.post("/git/painel", {id_repo: $('#button_modal').val(), csrfmiddlewaretoken: window.CSRF_TOKEN}, function(response) {
          alert(response)
          location.href = ""
        })
      }

     $()
    </script>

    <div id="modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Excluir repositório</h5>
            <a href="" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <center><span>Tem certeza que deseja remover este repositório?</span></center>
          </div>
          <div class="modal-footer">
            <button id="button_modal" onclick="remove()" type="button" class="btn text-white" style="background-color: #FF4500;">Sim</button>
            <a href="" type="button" class="btn btn-secondary" data-dismiss="modal">Não</a>
          </div>
        </div>
      </div>
    </div>
</body>
{% endblock %}
